button.rec-dot{
    background-color: rgb(235, 16, 16);
    box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
    }
    
    button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus {
    box-shadow: 0 0 1px 3px rgba(235,16,16,0.5);
    } 