.margin20 {
  margin: 20px;
  padding-left: 100px;
}

.colorRed {
  color: red;
}

.customfileupload {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
  /* margin: auto; */
  text-align: center;
  padding: auto;
  align-items: center;
  justify-content: center;
  background-color: cyan;
}

.cutomFileImg {
  width: 40px;
}

.titleSvg {
  width: 15px;
}
.titleSvg :hover {
  cursor: pointer;
}
